.nav__container{
    display: none;
}

.nav__check {
    display: none;
}

#menu-toggle:checked ~ .nav__container {
    display: flex;
    z-index: 1;
    position: absolute;
    width: 50%;
    top: 0;
    left: auto !important;
    right: 0 !important;
    height: 100vh;
    text-align: right;
    border-top: none;
}

li {
    margin-bottom: 3em;
}

li:first-of-type {
    margin-top: 4.375em;
}

a:hover {
    pointer-events: auto;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.nav__toggle {
    display: flex;
    background: none;
    border: none;
    z-index: 5;
    cursor: pointer;
}

.nav__path {
    stroke: var(--color-orange-700);
    stroke-linecap: round;
    transform-origin: center;
    transition: all 0.3s;
}

.nav__check:checked + .nav__toggle {
    svg {
        path:first-of-type {
            transform: rotate(45deg) translateY(6px);
        }

        path:nth-of-type(2) {
            opacity: 0;
        }

        path:last-of-type {
            transform: rotate(-45deg) translateY(-7px);
        }
    }
}
