.sro{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
}

/** {
  outline: 1px solid red;
}*/

main:not(.contact_form){
    padding-bottom: 6.25rem;
}

main{
    color: rgba(0, 0, 0, 0.8);
    padding-top: 1.25rem;
}

section:not(.slider){
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

h3, h2:not(.intro){
    font-family: Baloo, sans-serif;
    font-weight: 800;
}
