.sro{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
}

/** {
  outline: 1px solid red;
}*/

section:not(.slider){
    padding-left: 1.25rem;
    padding-right: 1.25rem;

}
