span:not(.ariane):not(.required):not(.return){
    visibility: hidden;
}

@media (max-width: 767px) {
    .go_back{
        background: url("../../images/icones/back.svg") center no-repeat;
        width: 1.5rem;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .go_back_ordi{
        background: url("../../images/icones/back.svg") center no-repeat;
        width: 1.5rem;
        display: inline-block;
        padding-left: 3.5rem;
        color: var(--color-orange-600);
        font-weight: 600;
    }
}




.header_animaux{
    background: url("../../images/icones/pattes-small.svg") center no-repeat;
    width: 1.625rem;
    height: 1.5rem;
}

.details_mail, .details_maps, .details_tel{
    padding: 0.5rem 1.875rem;
}

.details_maps{
    background: url("../../images/icones/pin_light.svg") left no-repeat;
}

.details_mail{
    background: url("../../images/icones/message.svg") left no-repeat;
}

.details_tel{
    background: url("../../images/icones/telephone.svg") left no-repeat;
    margin-left: 0.4375rem;
    padding-left: 1.4375rem;
}

#discover_companion{
    background: url("../../images/icones/button_arrow.svg") left no-repeat;
    padding: 0.5rem .875rem;
}

.item_list{
    background: url("../../images/icones/pattes-small.svg") left no-repeat;
    padding: 0.5rem 2rem;
}

.search{
    background-image: url("../../images/icones/search.svg");
    background-position: right 1.5rem center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.5rem 1.5rem;
}
