.burger_link {
    margin-bottom: 2.5em;
    background: url("../../images/icones/arrow_right.svg") right no-repeat;
}

.burger_link:nth-last-of-type(1){
    padding: 0.375rem 7.3125rem;
}


.burger_link:nth-last-of-type(1), .footer_link:nth-last-of-type(1), .nav_links:nth-last-of-type(1){
    color: var(--color-orange-50);
    background-color: var(--color-orange-600);
    border-radius: 0.625rem;
    width: 7rem;
    text-align: center;
}

@media (min-width: 768px) {
    .nav_links{
        display: none;
    }
    .nav_links:nth-last-of-type(1){
        display: block;
        padding: 0.375rem 1rem;
    }
}

@media (min-width: 1024px) {
    .nav_links{
        color: var(--color-orange-600);
        font-weight: 600;
        display:block;
    }
}




.footer_link:nth-last-of-type(1){
    padding: 0.3125rem 1.75rem;
}

.footer_nav{
    display: flex;
    flex-direction: column;
    max-height: 8rem;
    flex-wrap: wrap;
    row-gap: 0.625rem;
    padding-top: 0.9375rem;
    column-gap: 1.875rem;
}

@media (min-width: 768px) {
    .footer_nav{

    }
}
