.burger_link {
    margin-bottom: 2.5em;
    background: url("../../images/icones/arrow_right.svg") right no-repeat;
}

.link-adopt{
    color: var(--color-orange-50);
    padding: 0.375rem 7.3125rem;
    background-color: var(--color-orange-600);
    border-radius: 0.625rem;
}
