@layer base{
    :root{
        --color-orange-50: #FFF6EB;
        --color-orange-100: #F5D0B3;
        --color-orange-200: #F9C096;
        --color-orange-300: #F3AB75;
        --color-orange-400: #F8862D;
        --color-orange-500: #BF560C;
        --color-orange-600: #843C06;
        --color-orange-700: #6D3005;
        --color-orange-800: #562504;
        --color-orange-900: #401B03;
    }
}
