@import 'tailwindcss';
@import "./colors/colors.css";
@import "./fonts/fonts-sizes.css";
@import "./fonts/fonts-family.css";
@import "./public/burger-menu.css";
@import "./public/icones.css";
@import "./public/navigation.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
/*    --font-heading: 'Baloo', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji'*/
}
