.sro{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
}

/** {
  outline: 1px solid red;
}*/

main:not(.contact_form):not(.animal_single){
    padding-bottom: 6.25rem;
}

main{
    color: rgba(0, 0, 0, 0.8);
    padding-top: 1.25rem;
}

@media (max-width: 543px) {
    section:not(.slider):not(.show_cards):not(.stats){
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 544px) {
    section:not(.slider):not(.show_cards):not(.stats){
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 768px) {
    section:not(.slider):not(.show_cards):not(.stats):not(.todo){
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}

@media (min-width: 1024px) {
    section:not(.slider):not(.show_cards):not(.stats):not(.todo){
        padding-left: 6rem;
        padding-right: 6rem;
    }
}


@media (min-width: 1920px) {
    section:not(.slider):not(.show_cards):not(.stats):not(.todo){
        padding-left: 9rem;
        padding-right: 9rem;
    }
}




h3:not(.title_section), h2:not(.intro){
    font-family: Baloo, sans-serif;
    font-weight: 800;
}

@layer base{
    img{
        max-width: none;
    }
}
