@layer base{
    :root{
        --text-5xl: 3.5rem;
        --text-4xl: 3rem;
        --text-3xl: 2rem;
        --text-2xl: 1.5rem;
        --text-xl: 1.25rem;
        --text-lg: 1rem;
        --text-sm: 0.875rem;
        --text-xs: 0.75rem;
    }
}
