.modify{
    background-image: url("../../images/icones/modify_clear.svg");
    background-repeat: no-repeat;
    background-position: 35%;
}

.delete{
    background-image: url("../../images/icones/delete_clear.svg");
    background-repeat: no-repeat;
    background-position: 32%;
}

.search{
    background-image: url("../../images/icones/search.svg");
    background-repeat: no-repeat;
    background-position: 90%;
}

.answer{
    background-image: url("../../images/icones/answer.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.validate{
    background-image: url("../../images/icones/validate.svg");
    background-repeat: no-repeat;
    background-position: 8%;
}

.read{
    background-image: url("../../images/icones/mark_read.svg");
    background-repeat: no-repeat;
    background-position: 4%;
}

@media (min-width: 640px) {
    .modify{
        background-position: 30%;
    }

    .delete{
        background-position: 28%;
    }
}

@media (min-width: 640px) {
    .modify{
        background-position: 20%;
    }

    .delete{
        background-position: 18%;
    }
}

@media (min-width: 1536px) {
    .modify{
        background-position: 20%;
    }

    .delete{
        background-position: 12%;
    }
}

