.modify{
    background-image: url("../../images/icones/modify_clear.svg");
    background-repeat: no-repeat;
    background-position: 35%;
}

.delete{
    background-image: url("../../images/icones/delete_clear.svg");
    background-repeat: no-repeat;
    background-position: 32%;
}

.search{
    background-image: url("../../images/icones/search.svg");
    background-repeat: no-repeat;
    background-position: 90%;
}

.answer{
    background-image: url("../../images/icones/answer.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.validate{
    background-image: url("../../images/icones/validate.svg");
    background-repeat: no-repeat;
    background-position: 8%;
}

.read{
    background-image: url("../../images/icones/mark_read.svg");
    background-repeat: no-repeat;
    background-position: 4%;
}

.refuse{
    background-image: url("../../images/icones/close.svg");
    background-repeat: no-repeat;
    background-position: 15%;
}

.add, .task, .message, .adoptions, .paw, .volunteers{
    background-repeat: no-repeat;
    background-position: 3%;
}

.profil{
    background-image: url("../../images/icones/arrow_right_light.svg");
    background-repeat: no-repeat;
    background-position: 95%;
}

.add{
    background-image: url("../../images/icones/add.svg");
}

.task{
    background-image: url("../../images/icones/folder_check_fill.svg");
}

.message{
    background-image: url("../../images/icones/message.svg");
}

.adoptions{
    background-image: url("../../images/icones/file_dock_fill.svg");
}

.paw{
    background-image: url("../../images/icones/paw_light.svg");
}

.volunteers{
    background-image: url("../../images/icones/group.svg");
}

@media (min-width: 640px) {
    .modify{
        background-position: 30%;
    }

    .delete{
        background-position: 28%;
    }
}

@media (min-width: 640px) {
    .modify{
        background-position: 20%;
    }

    .delete{
        background-position: 18%;
    }
}

@media (min-width: 1536px) {
    .modify{
        background-position: 20%;
    }

    .delete{
        background-position: 12%;
    }
}

