.admin_burger_link{
    padding: 1rem 1.25rem;
    border: 2px solid var(--color-orange-600);
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 0.625rem;
    background-color: var(--color-orange-200);
}

.admin_nav_container{
    left: -100%;
    transform: translate(0);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 86px;
    right: auto;
    background-color: var(--color-orange-50);
    padding: 2.5rem 2.5rem 0;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 1.25rem;
    gap: 1.875rem;
}

.admin_side_nav_container{
    display: flex;
    flex-direction: column;
    background-color: var(--color-orange-50);
    padding: 2.5rem 2.5rem 0;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 1.25rem;
    gap: 1.875rem;
    position: sticky;
    width: 100%;
}

#menu-toggle:checked ~ .admin_nav_container {
    left: 0;
}


@media (min-width: 768px) {
    .admin_nav_container{
        top: 110px;
    }
}


@media (min-width: 1024px) {
    .admin_burger_link{
        width: 100%;
    }
    .admin_side_nav_container{
        font-size: 1.5rem;
        justify-content: space-between;
    }

    .desktop_nav{
        position: fixed;
    }
}
